.outer-body {
    height: 500px;
    aspect-ratio: 4/3;
    display: flex;
    background-color: #0f0f0f;
    border-radius: 10px;
}


.inner-body {
    display: flex;
    margin: 10px;
    background-color: #eeeeee;
    flex-direction: column;
    flex: auto;
    padding: 5px;
}

.display-panel {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.left-display {
    flex: 1;
    font-size: 70px;
    font-weight: bold;
    text-align: end;
}

.right-display {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.right-display .output {
    flex: 1;
}

.output {
    background-color: #496400;
}

.input {
    flex: 1;
    border-top: 1px solid black;
    border-left: 1px solid black;
    background-color: #729b00;
    text-align: end;
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
}


.button-panel {
    display: flex;
    flex-direction: row;
    flex: 4;
}

.button-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

button {
    flex: 1;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(110, 110, 110);
    color: white;
    font-weight: bold;
    font-size: large;

}

.operator {
    background-color: rgb(236, 63, 10);
}

.operator.active {
    background-color: rgb(243, 130, 55);
}

